.ano {
  text-align: center;
  padding: 32px;
  background-blend-mode: multiply;
}

.ano h3 {
  font-size: 32px;
  font-family: 'Prata';
  border-bottom: 4px solid;
  display: inline-block;
  padding-bottom: 8px;
}

.ano .livros {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .ano {
    padding: 24px 12px;
  }
  .ano h3 {
    font-size: 24px;
    border-bottom: 3px solid;
  }
  .ano .livros {
    margin-top: 20px;
  }
}