.ano {
  text-align: center;
  padding: 32px;
}

.ano h3 {
  font-family: 'Prata', serif;
  font-size: 32px;
  display: inline-block;
  padding-bottom: 10px;
  position: relative;
  color: inherit; /* Herda a cor do texto do elemento pai */
  padding-bottom: 15px;
}

.ano h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px; /* Defina o comprimento desejado da borda */
  height: 4px;
  background-color: var(--cor-primaria);
}

.ano .livros {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  flex-wrap: wrap;
}