.banner {
  background-color: #0162d7;
  text-align: center;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .banner {
    height: 180px;
  }
  
  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
